footer{
    
    nav{
        position: absolute;
        top: 85%;
        transform:translate(-55%, -50%); 
        left: 50%;
        ul{
            display: flex;
            li{
                list-style: none;
                padding-left: 90px;
                a{
                    font-size: 2.5rem;
                    color: white;
                    text-decoration: none;
                }
                a:after{
                    display: block;
                    content: '';
                    border-bottom: solid 2.4px rgb(255, 255, 255);
                    transform: scaleX(-1);  
                    transition: transform 350ms ease-in-out;
                }
                a:hover:after { 
                    transform: scaleX(1); 
                }
                a.fromRight:after { 
                    transform-origin: 100% 50%; 
                }
                a.fromLeft:after {  
                    transform-origin: 0% 50%; 
                }
            }
        }
    }
}